.acf-json-field-data {
	display: none;
}

.acf-json-field-editor {
	width: 100%;
	height: 400px;
	max-width: 1000px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
}

.acf-json-field-editor .jse-tag {
	color: #000 !important;
}

.acf-json-field-editor .jse-context-menu-button {
	padding: 5px 10px !important;
}
