.acf-json-field-output,
.acf-json-field-output-line {
	white-space: pre-wrap;
	word-break: break-word;
}

.acf-json-field-output {
	padding: 10px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	background-color: #f7f7f7;
	font-size: 0.9rem;
	font-family: 'Source Code Pro', 'Lucida Sans Typewriter', 'Lucida Typewriter Sans', 'Lucida Typewriter', 'Lucida Console', monospace;
	tab-size: 2;
}

.acf-json-field-boolean {
	color: #ff08ff;
}

.acf-json-field-key {
	color: #2c54ad;
}

.acf-json-field-null {
	color: #ff08ff;
}

.acf-json-field-number {
	color: #388858;
}

.acf-json-field-string {
	color: #a32f77;
}